DB_HOST=localhost
DB_PORT=3306
DB_NAME=place_bsd
DB_USER=root
DB_PASS=

P2P_BASE_URL=https://checkout-test.placetopay.com
P2P_LOGIN_ESTANDAR=
P2P_SECRET_ESTANDAR=
P2P_LOGIN_DISPERSION=
P2P_SECRET_DISPERSION=
P2P_LOGIN_RESERVACIONES=
P2P_SECRET_RESERVACIONES=

APP_BASE_URL=http://localhost/plance
P2P_NOTIFY_URL=
P2P_GATEWAY_BASE_URL=https://api-test.placetopay.com
P2P_SITES_BASE_URL=https://sites-test.placetopay.com
